<div layout="row" layout-fill ng-cloak class="admin-page alert-theme" id="popupContainer3" data-ng-init="carregarProjeto()">

  <md-sidenav class="md-sidenav-left md-whiteframe-z2 home-sidenav" role="sidenav" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')" style="background:#43a047;">
    <!-- toolbar da sidenav -->
    <md-toolbar class="md-tall md-hue-2" layout-align="center center" style="background:#43a047;">
      <div layout="column" layout-align="center center" style="width:100%;margin-top:20px;">
        <div style="width:65px;height:65px;border-radius:50%;background:white;text-align:center;display:flex;">
          <md-icon md-svg-src="{{badget}}" class="grey-text darken-3"></md-icon>
        </div>
        <span class="md-body-2" style="padding-top:10px;">Inscrição: {{projeto.numInscricao}}</span>
      </div>
    </md-toolbar>
    <!-- menu da sidenav -->
    <hr size="3" style="background:#2e7d32;width:80%;">
    <md-content role="navigation" style="background:#43a047;">
      <md-list data-ng-repeat="section in data.sidenav.sections">
        <md-list-item ng-click="section.expand = !section.expand">
          <p class="md-subheader" style="color:#f5f5f5;">{{section.name}}</p>
          <span flex></span>
          <md-icon md-svg-src="{{section.expand ? 'chevron-up' : 'chevron-down'}}" style="color:#f5f5f5;"></md-icon>
        </md-list-item>
        <md-list-item data-ng-show="section.expand" data-ng-repeat="action in section.actions" ui-sref="{{action.link}}">
          <md-icon md-svg-src="{{action.icon}}" style="color:#f5f5f5;"></md-icon>
          <p class="md-body-2 submenu" style="color:#f5f5f5;">{{action.name}}</p>
        </md-list-item>
      </md-list>
      <!-- <md-list>
        <md-list-item ng-click="section.expand = !section.expand">
          <p class="md-subheader" style="color:#f5f5f5;">Modelos</p>
          <span flex></span>
          <md-icon md-svg-src="{{section.expand ? 'chevron-up' : 'chevron-down'}}" style="color:#f5f5f5;"></md-icon>
        </md-list-item>
        <md-list-item data-ng-show="section.expand" ng-click="mostraResumoPDF()">
          <md-icon md-svg-src="file-pdf-box" style="color:#f5f5f5;"></md-icon>
          <p class="md-body-2 submenu" style="color:#f5f5f5;">M. de resumo (pdf)</p>
        </md-list-item>
        <md-list-item data-ng-show="section.expand" ng-click="mostraResumo()">
          <md-icon md-svg-src="file-document-box" style="color:#f5f5f5;"></md-icon>
          <p class="md-body-2 submenu" style="color:#f5f5f5;">M. de resumo (doc)</p>
        </md-list-item>
        <md-list-item data-ng-show="section.expand" ng-click="mostraRelatorioPDF()">
          <md-icon md-svg-src="file-pdf-box" style="color:#f5f5f5;"></md-icon>
          <p class="md-body-2 submenu" style="color:#f5f5f5;">M. de relatório (pdf)</p>
        </md-list-item>
        <md-list-item data-ng-show="section.expand" ng-click="mostraRelatorio()">
          <md-icon md-svg-src="file-document-box" style="color:#f5f5f5;"></md-icon>
          <p class="md-body-2 submenu" style="color:#f5f5f5;">M. de relatório (doc)</p>
        </md-list-item>
      </md-list> -->
      <!-- <md-list>
        <md-list-item ng-click="section1.expand = !section1.expand">
          <p class="md-subheader" style="color:#f5f5f5;">Programação</p>
          <span flex></span>
          <md-icon md-svg-src="{{section.expand1 ? 'chevron-up' : 'chevron-down'}}" style="color:#f5f5f5;"></md-icon>
        </md-list-item>
        <md-list-item data-ng-show="section1.expand" ui-sref="home.programacao">
          <md-icon md-svg-src="chart-timeline" style="color:#f5f5f5;"></md-icon>
          <p class="md-body-2 submenu" style="color:#f5f5f5;">V MOVACI</p>
        </md-list-item>
        <md-list-item data-ng-show="section1.expand" ng-click="mostraApresentacao()">
          <md-icon md-svg-src="timetable" style="color:#f5f5f5;"></md-icon>
          <p class="md-body-2 submenu" style="color:#f5f5f5;">Apresentações</p>
        </md-list-item>
      </md-list> -->
      <md-list>
        <md-list-item ui-sref="home.categorias-eixos">
          <p class="md-subheader" style="color:#f5f5f5;-webkit-flex:initial!important;flex:initial!important;">Categorias e Eixos</p>
          <span flex></span>
        </md-list-item>
        
        <!-- Essa parte mostra os proetos aprovados no Dashboard-->
<!--
        <md-list-item ng-click="mostraAprovados()">
          <p class="md-subheader" style="color:#f5f5f5;-webkit-flex:initial!important;flex:initial!important;">Lista de aprovados</p>
          <span flex></span>
        </md-list-item>
-->
        <!--<md-list-item ui-sref="home.regulamento">
          <p class="md-subheader" style="color:#f5f5f5;">Regulamento</p>
          <span flex></span>
        </md-list-item>-->
      </md-list>
    </md-content>
  </md-sidenav>

  <!-- conteúdo da página -->
  <section layout="column" role="main" flex>
    <md-toolbar role="toolbar" class="toolbar-admin md-whiteframe-2dp">
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" ng-click="toggleSidenav('left')" hide-gt-sm aria-label="Menu">
          <md-icon md-svg-src="menu" style="color:#424242;vertical-align:baseline;"></md-icon>
        </md-button>
        <h4 class="md-title" style="color:#424242;margin:0!important;">{{header}}</h4>
        <span flex></span>
        <md-menu>
          <md-button aria-label="Open demo menu" layout="row" class="hide-hover" style="height:45px;" ng-click="$mdOpenMenu($event)">
            <div style="width:45px;height:45px;border-radius:50%;background:white;display:flex;">
              <!-- <span style="color:#424242;font-size:17px;line-height:45px;">A</span> -->
              <md-icon md-svg-src="{{badget}}" class="grey-text darken-3"></md-icon>
            </div>
            <md-icon md-svg-src="menu-down" style="color:#424242;"></md-icon>
          </md-button>
          <md-menu-content width="3">
            <!-- <md-menu-item>
              <md-button ui-sref="home.update" class="grey-text darken-3">
                <md-icon md-svg-src="flask" class="grey-text darken-3"></md-icon>
                Alterar projeto
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ui-sref="home.conta" class="grey-text darken-3">
                <md-icon md-svg-src="account-settings-variant" class="grey-text darken-3"></md-icon>
                Dados da conta
              </md-button>
            </md-menu-item>
            <md-menu-divider></md-menu-divider> -->
            <md-menu-item>
              <md-button data-ng-click="logout()" class="grey-text darken-3">
                <md-icon md-svg-src="exit-to-app" class="grey-text darken-3"></md-icon>
                Sair
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </div>
    </md-toolbar>

    <!-- conteúdo dinâmico -->
    <section id="content" role="content" layout="column" layout-padding style="overflow:auto!important;background:#fdfdfd;height:100%;">
      <div ui-view style="background:#fdfdfd;"></div>
    </section>
  </section>
</div>
