<link rel="stylesheet" href="/alpha/assets/css/main.css">
<section id="main" class="container" style="width:100%!important;padding:3em 0!important;">
	<header>
		<h2>Relação de Categorias e Eixos Temáticos</h2>
	</header>
	<div class="box" style="border-bottom: 15px solid #81c784;">
		<span class="image featured" style="background:#81c784;height:15px;"></span>
		<table class="rtable categorias-eixos">
			<thead>
				<tr>
					<th>Categoria</th>
					<th>Eixo Temático</th>
					<th>Exemplo</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td rowspan="4">
						<p align="center"><strong>Fundamental I <br>(1º ao 5º anos)</strong></p>
						<p align="center"><strong>Fundamental II <br>(6º ao 9º anos)</strong></p>
					</td>
					<td>Ciências da Natureza e suas tecnologias</td>
					<td>Biologia, Química e Física...</td>
				</tr>
				<tr>
					<td>Ciências Humanas e suas tecnologias</td>
					<td>História, Geografia, Sociologia, Filosofia, Relações Humanas...</td>
				</tr>
				<tr>
					<td>Linguagens, Códigos e suas tecnologias</td>
					<td>Língua Portuguesa, Línguas estrangeiras, Educação Física, LIBRAS...</td>
				</tr>
				<tr>
					<td>Matemática e suas tecnologias</td>
					<td>Matemática e afins.</td>
				</tr>
				<tr>
					<td rowspan="7"><p align="center" style="alignment-adjust:central;"><strong>Ensino Médio, Técnico e Superior</strong></p></td>
					<td>Ciências Agrárias, Exatas e da Terra</td>
					<td>Matemática, Probabilidade e Estatística, Astronomia, Física, Química, <br>Geociências, Oceanografia, Agronomia, Recursos Florestais, Engenharia Agrícola, Zootecnia, Medicina Veterinária, <br>Recursos Pesqueiros, Ciência e Tecnologia de Alimentos...</td>
				</tr>
				<tr>
					<td>Ciências Ambientais, Biológicas e da Saúde</td>
					<td>Biologia Geral, Genética, Botânica, Zoologia, Ecologia, Morfologia, <br>Fisiologia, Bioquímica, Biofísica, Farmacologia, Imunologia, Microbiologia, Parasitologia, <br>Sustentabilidade, Problemas ambientais, Medicina, Odontologia, Farmácia, Enfermagem, Dietética, Saúde Coletiva, Fonoaudiologia, <br>Fisioterapia e Terapia Ocupacional, Patologia, Qualidade de Vida, Educação Física...</td>
				</tr>
				<tr>
					<td>Ciências Humanas e Sociais Aplicadas</td>
					<td>Filosofia, Sociologia, Antropologia, Arqueologia, História, Geografia, Psicologia, <br>Educação, Ciência Política, Teologia, Serviço Social, Equidade e justiça social, <br>Direito, Museologia, Comunicação, Economia Doméstica, Turismo, Administração, Economia, Arquitetura e Urbanismo, <br>Planejamento Urbano e Regional, Demografia, Ciência da Informação...</td>
				</tr>
				<tr>
					<td>Línguas e Artes</td>
					<td>Linguística, Língua Portuguesa, Línguas estrangeiras, Artes Visuais, Música, Artesanatos...</td>
				</tr>
				<tr>
					<td>Extensão</td>
					<td>Caráter extensionista de todas as áreas do conhecimento.</td>
				</tr>
				<tr>
					<td>Ciências da Computação</td>
					<td>Engenharia da Computação, Algoritmos, base de dados, Inteligência Artificial, <br>Comunicação e redes, Ciência Computacional, Gráficos, Engenharia de Softwares, <br>Sistemas de computadores, Sistemas Operacionais, Linguagens de Programação...</td>
				</tr>
				<tr>
					<td>Engenharias</td>
					<td>Engenharia Civil, Engenharia de Minas, Engenharia de Materiais e Metalúrgica, <br>Engenharia Elétrica, Engenharia Mecânica, Engenharia Química, Engenharia Sanitária, <br>Engenharia de Produção, Engenharia Nuclear, Engenharia de Transportes, Engenharia Naval e Oceânica, <br>Engenharia Aeroespacial, Engenharia Biomédica...</td>
				</tr>
			</tbody>
		</table>
	</div>
</section>
