<!-- <section>
	<div layout="column" align-center="center center" class="green darken-1 md-whiteframe-2dp home-container1">
    <span>O projeto está cadastrado, aguarde por atualizações.</span>
  </div>
</section> -->
<!-- <section>
  <div layout="column" align-center="center center" class="green darken-1 md-whiteframe-2dp home-container1">
    <span>A fase de inscrição dos projetos foi <b>encerrada</b>. Em alguns dias será divulgado
      a lista dos projetos selecionados para participarem da 5ª edição da
      Mostra Venâncio-airense de Cultura e Inovação.</span>
    <span style="margin-top:20px;">Att. Equipe Organizadora da V MOVACI.</span>
  </div>
</section> -->
<section style="margin-top:10px;">
  <div data-ng-if="aviso1_2 !== ''" layout="column" align-center="center center" class="green darken-1 md-whiteframe-2dp home-container1">
    <h3 data-ng-if="aviso1_1 !== undefined" style="margin-top:0!important;">{{aviso1_1}}</h3>
    <span>{{aviso1_2}}</span>
    <!--<span style="margin-top:20px;">Confira a <a href="/alpha/documentos/Lista_Aprovados_MOVACI.pdf" target="_blank">lista de aprovados</a>.</span>-->
  </div>
	<!-- <div layout="column" align-center="center center" class="green darken-1 md-whiteframe-2dp home-container1">
    <h3 data-ng-if="aviso1_1 !== undefined" style="margin-top:0!important;">{{aviso1_1}}</h3>
    <span>{{aviso1_2}}</span>
    <span style="margin-top:20px;">Confira a <a href="/alpha/documentos/Lista_Aprovados_MOVACI.pdf" target="_blank">lista de aprovados</a>.</span>
  </div> -->
</section>
<section>
  <div layout="column" layout-align="center center" align="center" class="md-whiteframe-2dp home-container2">
    <div class="home-title">
      <h4>{{projeto.nomeProjeto}}</h4>
    </div>
    <div class="home-resumo">
      <p>{{projeto.resumo}}</p>
    </div>
  </div>
</section>
