<link rel="stylesheet" href="/alpha/assets/css/main.css">
<section id="main" class="container" style="width:100%!important;padding:3em 0!important;">
  <header>
    <h2>Programação</h2>
    <p>V MOVACI, IV Seminário Saberes Docentes e III Semana de Inovação de Venâncio Aires - 2016</p>
  </header>
  <div class="box" style="border-bottom: 15px solid #4caf50;">
    <span class="image featured" style="background:#4caf50;height:15px;"></span>
    <table class="rtable">
      <thead>
        <tr>
          <th width="17%" style="text-align:center;">Dia</th>
          <th width="20%" style="text-align:center;">Horário</th>
          <th width="63%">Resumo</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td rowspan="5" style="text-align:center;">Segunda-feira<br>26/09/2016</td>
          <td rowspan="2" style="text-align:center;">8h às 10h</td>
          <td>Preparando a infraestrutura da MOVACI</td>
        </tr>
        <tr>
          <td>Preparativos dos projetos para apresentações</td>
        </tr>
        <tr>
          <td style="text-align:center;">13h30min</td>
          <td>Abertura</td>
        </tr>
        <tr>
          <td style="text-align:center;">13h45min</td>
          <td>(Mesa redonda) <b>Olhares sobre pesquisa: Ciência e pesquisa na escola</b>. Com: Diego Orgel Dal Bosco Almeida (Unisc), Josué Michels (IFSUL Camaquã) e Mônica knöpker (IFSC Araranguá)</td>
        </tr>
        <tr>
          <td style="text-align:center;">15h45min às 17h30min</td>
          <td>(Palestra) <b>Sistema de educação por projetos na Finlândia</b>. Com: Marcio Bender Machado (IFSul Pelotas) e Jaqueline Carlos (IFSP)</td>
        </tr>
        <tr>
          <td rowspan="4" style="text-align:center;">Terça-feira<br>27/09/2016</td>
          <td style="text-align:center;">8h às 10h</td>
          <td>(Oficina) <b>Orientação Profissional</b></td>
        </tr>
        <tr>
          <td style="text-align:center;">10h15min às 12h</td>
          <td>Intervenção Urbana</td>
        </tr>
        <tr>
          <td style="text-align:center;">14h</td>
          <td>(Debate) <b>O que é pesquisa e inovação a partir das diferentes áreas do conhecimento</b>. Com: Adilsom Eskelsen, Daniel Pezzi da Cunha, Dário da Cruz, Marcus Eduardo Maciel Ribeiro e Valmor Luiz Frantz</td>
        </tr>
        <tr>
          <td style="text-align:center;">15h45min  às 18h</td>
          <td>Comunicações Orais</td>
        </tr>
        <tr>
          <td rowspan="6" style="text-align:center;">Quarta-feira<br>28/09/2016</td>
          <td style="text-align:center;">8h às 12h</td>
          <td>Organização e leitura dos relatórios</td>
        </tr>
        <tr>
          <td style="text-align:center;">12h30min</td>
          <td>MOVACI de bike</td>
        </tr>
        <tr>
          <td style="text-align:center;">13h15min às 15h15min</td>
          <td>Comunicações Orais<br>
            (Oficinas) - com agendamento prévio: <b>Criação literária e Capoeira</b>
          </td>
        </tr>
        <tr>
          <td style="text-align:center;">15h30min às 17h15min</td>
          <td>(Palestra) - aberta para escolas interessadas - <b>Casa inteligente (Domótica). Com: Rolf Fredi Molz (Unisc)</b></td>
        </tr>
        <tr>
          <td style="text-align:center;">17h30min às 19h</td>
          <td>Visitação aos banners</td>
        </tr>
        <tr>
          <td style="text-align:center;">19h às 22h</td>
          <td><b>Cerimônia de abertura:</b><br>
            - Banda Magnus Rex<br>
            - (Palestra) <b>A importância das feiras e mostras científicas para a formação humana</b>. Com: Cleber Quadros (IF Pelotas) e Melissa Souza (ULBRA)
          </td>
        </tr>
        <tr>
          <td rowspan="8" style="text-align:center;">Quinta-feira<br>29/09/2016</td>
          <td style="text-align:center;">08h às 10h</td>
          <td>(Palestra) - aberta para escolas interessadas - <b>Empreendedorismo</b></td>
        </tr>
        <tr>
          <td style="text-align:center;">10h15min às 12h</td>
          <td>Comunicações Orais<br>
            (Oficinas) - com agendamento prévio: <b>Redação para o ENEM e Capoeira</b>
          </td>
        </tr>
        <tr>
          <td style="text-align:center;">13h30min</td>
          <td>Fala aí: um talk para a galera que tem o que dizer<br>
            (Oficina) <b>Board e Card Games</b>
          </td>
        </tr>
        <tr>
          <td style="text-align:center;">14h30min</td>
          <td>(Oficina) <b>Contação de histórias</b></td>
        </tr>
        <tr>
          <td style="text-align:center;">15h30min às 17h15min</td>
          <td>(Oficina) <b>Capoeira</b></td>
        </tr>
        <tr>
          <td style="text-align:center;">15h às 17h</td>
          <td>(Oficina) <b>Dança</b></td>
        </tr>
        <tr>
          <td style="text-align:center;">17h30min às 19h</td>
          <td>Visitação aos banners</td>
        </tr>
        <tr>
          <td style="text-align:center;">19h às 22h</td>
          <td>Show cultural: Tomaz Lenz e convidados</td>
        </tr>
        <tr>
          <td rowspan="5" style="text-align:center;">Sexta-feira<br>30/09/2016</td>
          <td style="text-align:center;">8h às 10h</td>
          <td>Comunicações Orais<br>
            (Oficinas) - com agendamento prévio: <b>Scratch e Capoeira</b>
          </td>
        </tr>
        <tr>
          <td style="text-align:center;">10h15min às 12h </div></td>
          <td>(Palestra) - aberta para escolas interessadas - <b>Resultados de uma abordagem diferenciada de ensino - Propiciar Oportunidades</b></td>
        </tr>
        <tr>
          <td style="text-align:center;">12h às 13h15min </div></td>
          <td>Visitação aos banners</td>
        </tr>
        <tr>
          <td style="text-align:center;">13h15min às 15h15min</td>
          <td>Mostra de talentos</td>
        </tr>
        <tr>
          <td style="text-align:center;">15h30min às 17h15min</div></td>
          <td>Premiação</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
