<!DOCTYPE html>
<html lang="pt-BR" data-ng-app="PDIAP">
<head>
  <base href="/">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="description" content="Mostra Venâncio-airense de Cultura e Inovação"/>
  <meta name="keywords" content="Venâncio Aires, IFSul, Feira, Mostra, Evento, Comunidade, campus Venâncio Aires"/>
  <meta name="robots" content="index, follow"/>

  <title>MOVACI</title>

  <!--CSS-->
  <link rel="shortcut icon" href="assets/images/favicon.png" type="image/x-icon" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
  <link rel='stylesheet' href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic">
  <link rel="stylesheet" href="/bower_components/angular-material/angular-material.css">
  <link rel="stylesheet" href="/assets/css/style.css">

</head>
<body>

  <ui-view></ui-view>

  <!--JavaScript-->
  <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
  <script type="text/javascript" src="bower_components/angular-material/angular-material.js"></script>
  <script type="text/javascript" src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script type="text/javascript" src="bower_components/angular-aria/angular-aria.js"></script>
  <script type="text/javascript" src="bower_components/angular-animate/angular-animate.js"></script>
  <script type="text/javascript" src="bower_components/angular-resource/angular-resource.min.js"></script>
  <script type="text/javascript" src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
  <script type="text/javascript" src="bower_components/ng-file-upload/ng-file-upload.min.js"></script>
  <script type="text/javascript" src="assets/js/auth.js"></script>
  <script type="text/javascript" src="assets/js/app.js"></script>
  <script type="text/javascript" src="assets/js/routes/ui-routes.js"></script>
  <script type="text/javascript" src="assets/js/interceptors/authInterceptor.js"></script>
  <!-- <script type="text/javascript" src="assets/js/configs/logout.js"></script> -->
  <script type="text/javascript" src="assets/js/configs/icons.js"></script>
  <script type="text/javascript" src="assets/js/configs/interceptorsConfig.js"></script>
  <script type="text/javascript" src="assets/js/configs/loadingConfig.js"></script>
  <script type="text/javascript" src="assets/js/controllers/homeCtrl.js"></script>
  <!-- <script type="text/javascript" src="assets/js/controllers/loginCtrl.js"></script> -->
  <script type="text/javascript" src="assets/js/controllers/adminCtrl.js"></script>
  <script type="text/javascript" src="assets/js/controllers/registroCtrl.js"></script>
  <script type="text/javascript" src="assets/js/controllers/updateCtrl.js"></script>
  <script type="text/javascript" src="assets/js/controllers/contaCtrl.js"></script>
  <script type="text/javascript" src="assets/js/controllers/saberesCtrl.js"></script>
  <script type="text/javascript" src="assets/js/controllers/avaliadoresCtrl.js"></script>
  <script type="text/javascript" src="assets/js/controllers/redefinirCtrl.js"></script>
  <script type="text/javascript" src="assets/js/controllers/fileUploadCtrl.js"></script>
  <script type="text/javascript" src="assets/js/controllers/certificadosCtrl.js"></script>
  <script type="text/javascript" src="assets/js/services/projetosAPIService.js"></script>
  <script type="text/javascript" src="assets/js/directives/cepMask.js"></script>
  <script type="text/javascript" src="assets/js/directives/foneMask.js"></script>
  <script type="text/javascript" src="assets/js/directives/cpfMask.js"></script>
  <script type="text/javascript" src="assets/js/directives/passwordVerify.js"></script>
  <script type="text/javascript" src="assets/js/directives/ngBlur.js"></script>
  <script type="text/javascript" src="assets/js/directives/rgMask.js"></script>
  <script type="text/javascript" src="assets/js/directives/dataMask.js"></script>
</body>
</html>
