<!DOCTYPE html>
<html lang="pt-BR" data-ng-app="PDIAPav">
<head>
  <base href="/">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <title>MOVACI - AVALIAÇÃO</title>

  <!--CSS-->
  <link rel="shortcut icon" href="admin/avaliacao/assets/images/favicon.png" type="image/x-icon" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
  <link rel='stylesheet' href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic">
  <link rel="stylesheet" href="/bower_components/angular-material/angular-material.css">
  <link rel="stylesheet" href="admin/avaliacao/assets/css/style.css">

</head>
<body data-ng-controller="homeCtrl">

  <div data-ng-init="showLoginDialog($event)"></div>

  <!--JavaScript-->
  <script type="text/javascript" src="/bower_components/angular/angular.min.js"></script>
  <script type="text/javascript" src="/bower_components/angular-material/angular-material.js"></script>
  <script type="text/javascript" src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script type="text/javascript" src="/bower_components/angular-aria/angular-aria.js"></script>
  <script type="text/javascript" src="/bower_components/angular-animate/angular-animate.js"></script>
  <script type="text/javascript" src="/bower_components/angular-resource/angular-resource.min.js"></script>
  <script type="text/javascript" src="admin/avaliacao/assets/js/app.js"></script>
  <script type="text/javascript" src="admin/avaliacao/assets/js/configs/icons.js"></script>
  <script type="text/javascript" src="admin/avaliacao/assets/js/configs/logout.js"></script>
  <script type="text/javascript" src="admin/avaliacao/assets/js/configs/interceptorsConfig.js"></script>
  <script type="text/javascript" src="admin/avaliacao/assets/js/routes/ui-routes.js"></script>
  <script type="text/javascript" src="admin/avaliacao/assets/js/services/avaliacaoAPIService.js"></script>
  <script type="text/javascript" src="admin/avaliacao/assets/js/controllers/homeCtrl.js"></script>
  <script type="text/javascript" src="admin/avaliacao/assets/js/controllers/avaliacaoCtrl.js"></script>
  <script type="text/javascript" src="admin/avaliacao/assets/js/controllers/loginCtrl.js"></script>
  <script type="text/javascript" src="admin/avaliacao/assets/js/directives/usSpinner.js"></script>
  <script type="text/javascript" src="admin/avaliacao/assets/js/interceptors/authInterceptor.js"></script>
</body>
</html>
