<span layout="column" layout-align="center center" class="loader" us-spinner>
<div layout="row" layout-sm="column" layout-align="space-around">
    <md-progress-circular md-mode="indeterminate" md-diameter="40"></md-progress-circular>
</div>
</span>
<div layout="row" layout-fill data-ng-cloak class="admin-page alert-theme" id="popupContainer">
    <section layout="column" role="main" flex>
        <md-toolbar role="toolbar" class="toolbar-admin md-whiteframe-2dp">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" ng-click="toggleSidenav('left')" hide-gt-sm aria-label="Menu">
            <md-icon md-svg-src="menu" style="color:#225024;vertical-align:baseline;"></md-icon>
            </md-button>
            <h4 class="md-title" style="color:#225024;margin:0!important;">Eventos | Cadastrar Certificado</h4>
        </div>
        <md-toolbar role="toolbar" class="toolbar-admin" style="box-shadow:0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12)">
        <div class="md-toolbar-tools">
        </div>
        </md-toolbar>      
        </md-toolbar>

        <md-content>	
            <div layout="column" layout-align="center center" style="background:rgba(128,128,128,0.07);padding:40px;">
                <h1 style="text-align:center;border-top:1px solid #225024;margin:55px 0 15px 0;font-size:15px;width:100%;">
                <span style="text-transform:uppercase;padding:5px 10px;position:relative;background:#f7f7f7;bottom:10px;letter-spacing:1px;">Cadastro da Mostra</span>
                </h1>
                <form name="editForm" novalidate class="eventos-form">
                    <md-input-container class="md-block" flex-gt-xs="110">
                        <label style="font-weight: bold;" for="imagemcertificado">Selecione o layout do certificado:</label><br>
                        <input placeholder="Imagem" type="file" id="imagem" accept="image/jpeg" name="layoutcertificado" data-ng-model="layout_certificado"/>
                        <div class="md-errors-spacer">
                            <div data-ng-show="editForm.mes.$dirty">
                                <div class="message-error" data-ng-show="editForm.mes.$error.required">Obrigatório.</div>
                            </div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-xs="110">
                        <label style="font-weight: bold;" for="imagemcertificado">Selecione o layout do certificado(Fundo):</label><br>
                        <input placeholder="Imagem" type="file" id="imagem2" accept="image/jpeg" name="layoutcertificado" data-ng-model="layout_certificado"/>
                        <div class="md-errors-spacer">
                            <div data-ng-show="editForm.mes.$dirty">
                                <div class="message-error" data-ng-show="editForm.mes.$error.required">Obrigatório.</div>
                            </div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-xs="110">
                        <textarea  placeholder="Texto do certificado (Avaliador)" type="text" name="certificadotextoavaliador" data-ng-model="textocertificado_avaliador" style="overflow: hidden; resize: none;"required></textarea>
                        <div class="md-errors-spacer">
                            <div data-ng-show="editForm.mes.$dirty">
                                <div class="message-error" data-ng-show="editForm.mes.$error.required">Obrigatório.</div>
                            </div>
                        </div>
                    </md-input-container>           
                    <md-input-container class="md-block" flex-gt-xs="110">
                            <textarea placeholder="Texto do certificado (Orientador)" type="text" name="certificadotextoorientador" data-ng-model="textocertificado_orientador" required></textarea>
                            <div class="md-errors-spacer">
                                <div data-ng-show="editForm.mes.$dirty">
                                    <div class="message-error" data-ng-show="editForm.mes.$error.required">Obrigatório.</div>
                                </div>
                            </div>
                    </md-input-container> 
                    <md-input-container class="md-block" flex-gt-xs="110">
                        <textarea placeholder="Texto do certificado (Apresentação)" type="text" name="certificadotextoapresentacao" data-ng-model="textocertificado_apresentacao" required></textarea>
                        <div class="md-errors-spacer">
                            <div data-ng-show="editForm.mes.$dirty">
                                <div class="message-error" data-ng-show="editForm.mes.$error.required">Obrigatório.</div>
                            </div>
                        </div>
                    </md-input-container> 
                    <md-input-container class="md-block" flex-gt-xs="110">
                        <textarea placeholder="Texto do certificado (Premiado)" type="text" name="certificadotextopremiado" data-ng-model="textocertificado_premiado" required></textarea>
                        <div class="md-errors-spacer">
                            <div data-ng-show="editForm.mes.$dirty">
                                <div class="message-error" data-ng-show="editForm.mes.$error.required">Obrigatório.</div>
                            </div>
                        </div>
                    </md-input-container> 
                    <md-input-container class="md-block" flex-gt-xs="110">
                        <textarea placeholder="Texto do certificado (Menção Honrosa)" type="text" name="certificadotextomencao" data-ng-model="textocertificado_mencao" required></textarea>
                        <div class="md-errors-spacer">
                            <div data-ng-show="editForm.mes.$dirty">
                                <div class="message-error" data-ng-show="editForm.mes.$error.required">Obrigatório.</div>
                            </div>
                        </div>
                    </md-input-container> 
                    <md-input-container class="md-block" flex-gt-xs="110">
                        <textarea placeholder="Texto do certificado (Responsável saberes)" type="text" name="certificadotextosaberes" data-ng-model="textocertificado_saberes" required></textarea>
                        <div class="md-errors-spacer">
                            <div data-ng-show="editForm.mes.$dirty">
                                <div class="message-error" data-ng-show="editForm.mes.$error.required">Obrigatório.</div>
                            </div>
                        </div>
                    </md-input-container> 
                    <md-input-container class="md-block" flex-gt-xs="110">
                        <textarea placeholder="Texto do certificado (Presença oficinas)" type="text" name="certificadotextopoficinas" data-ng-model="textocertificado_poficinas" required></textarea>
                        <div class="md-errors-spacer">
                            <div data-ng-show="editForm.mes.$dirty">
                                <div class="message-error" data-ng-show="editForm.mes.$error.required">Obrigatório.</div>
                            </div>
                        </div>
                    </md-input-container> 
                    <md-input-container class="md-block" flex-gt-xs="110">
                        <textarea placeholder="Texto do certificado (Responsável oficinas)" type="text" name="certificadotextoroficinas" data-ng-model="textocertificado_roficinas" required></textarea>
                        <div class="md-errors-spacer">
                            <div data-ng-show="editForm.mes.$dirty">
                                <div class="message-error" data-ng-show="editForm.mes.$error.required">Obrigatório.</div>
                            </div>
                        </div>
                    </md-input-container> 
                    <md-input-container class="md-block" flex-gt-xs="110">
                        <textarea placeholder="Texto do certificado (Responsável Semana acadêmica)" type="text" name="certificadotextoacademica" data-ng-model="textocertificado_academica" required></textarea>
                        <div class="md-errors-spacer">
                            <div data-ng-show="editForm.mes.$dirty">
                                <div class="message-error" data-ng-show="editForm.mes.$error.required">Obrigatório.</div>
                            </div>
                        </div>
                    </md-input-container> 
                    <md-input-container class="md-block" flex-gt-xs="110">
                        <textarea placeholder="Texto do certificado (Saberes docentes)" type="text" name="certificadotextodocentes" data-ng-model="textocertificado_docentes" required></textarea>
                        <div class="md-errors-spacer">
                            <div data-ng-show="editForm.mes.$dirty">
                                <div class="message-error" data-ng-show="editForm.mes.$error.required">Obrigatório.</div>
                            </div>
                        </div>
                    </md-input-container> 
                    <md-input-container class="md-block" flex-gt-xs="30">
                        <md-select data-ng-model="ano" ng-change="carregaDado(ano)" placeholder="Ano" disableOptionCentering style="width:100%!important;font-size:17px;">
                            <md-optgroup label="Ano:">
                              <md-option ng-value="years" data-ng-selected="true" data-ng-repeat="years in year" data-ng-click="confereCertificado()">{{years}}  
                                <span data-ng-if="confereCertificado(years)">(Certificado Cadastrado)</span>
                              </md-option>
                            </md-optgroup>
                        </md-select>
                    </md-input-container> 
                    <div class="finalizar" layout="row" layout-align="center center" data-ng-if="!spinnerActive" style="margin:40px 0 20px 0;">
                        <md-button class="md-raised md-primary white green darken-1 btnEntrar2" aria-label="Salvar" data-ng-disabled="!editForm.$valid" data-ng-click="cadastrarMostra()">
                            <md-icon md-svg-icon="check" ng-style="{width:'20px', height:'20px', color:'rgba(255,255,255,0.87)', 'margin-bottom':'3px'}"></md-icon>
                            <span style="vertical-align:middle;"; <i class="fa fa-align-center" aria-hidden="true"></i>Cadastrar</span>
                        </md-button>
                    </div> 
                    <span us-spinner>
                        <div layout="row" layout-sm="column" layout-align="space-around">
                            <md-progress-circular md-mode="indeterminate" md-diameter="40"></md-progress-circular>
                        </div>
                    </span>
                </form>
            </div>
        </md-content>
    </section>
</div>