<span layout="column" layout-align="center center" class="loader" us-spinner>
  <div layout="row" layout-sm="column" layout-align="space-around">
    <md-progress-circular md-mode="indeterminate" md-diameter="40"></md-progress-circular>
  </div>
</span>
<div layout="row" layout-fill data-ng-cloak class="admin-page alert-theme" id="popupContainer">

  <section layout="column" role="main" flex>
    <md-toolbar role="toolbar" class="toolbar-admin md-whiteframe-2dp">
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" ng-click="toggleSidenav('left')" hide-gt-sm aria-label="Menu">
          <md-icon md-svg-src="menu" style="color:#225024;vertical-align:baseline;"></md-icon>
        </md-button>
        <h4 class="md-title" style="color:#225024;margin:0!important;">Editar | Projetos</h4>
      </div>

      <md-toolbar role="toolbar" class="toolbar-admin" style="box-shadow:0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12)">
      <div class="md-toolbar-tools">
        <span flex></span>
        <div style="background:rgba(255,255,255,0.1);padding:9px;border-radius:5px 0 0 5px;">
          <md-icon md-svg-src="magnify" style="color:#356937;width:30px;height:30px;"></md-icon>
        </div>
        <div class="search-field" flex="30">
          <input placeholder="Buscar" style="width:100%!important;" ng-model="search[query]" ng-model-options="{ debounce: 600 }"/>
        </div>
        <div style="background:rgba(255,255,255,0.1);padding:2px 0 1px 0;border-radius:0 5px 5px 0;">
          <md-menu>
            <md-button md-no-ink aria-label="Open demo menu" layout="row" class="hide-hover" style="height:45px;min-width:0!important;" ng-click="$mdOpenMenu($event)">
              <md-icon md-svg-src="menu-down" style="color:#356937;width:30px;height:30px;"></md-icon>
            </md-button>
            <md-menu-content width="3">
              <md-subheader class="md-no-sticky">CRITÉRIO DE BUSCA</md-subheader>
              <md-menu-item>
                <md-button data-ng-click="setBusca('numInscricao')" class="grey-text darken-3">Nº de Inscrição</md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button data-ng-click="setBusca('nomeProjeto')" class="grey-text darken-3">Nome do projeto</md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button data-ng-click="setBusca('categoria')" class="grey-text darken-3">Categoria</md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button data-ng-click="setBusca('eixo')" class="grey-text darken-3">Eixo</md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </div>
        <span flex="5"></span>

        <div style="width:170px;">
          <md-select data-ng-model="ordenar" placeholder="Ordenar" style="width:100%!important;font-size:17px;">
            <md-optgroup label="Ordenar por:">
              <md-option value="1" data-ng-focus="ordenarPor('numInscricao')">Nº de Inscrição</md-option>
              <md-option value="2" data-ng-focus="ordenarPor('nomeProjeto')">Nome do projeto</md-option>
              <md-option value="3" data-ng-focus="ordenarPor('nomeEscola')">Escola</md-option>
              <md-option value="4" data-ng-focus="ordenarPor(['categoria','eixo'])" data-ng-selected="true">Categoria/eixo</md-option>              
            </md-optgroup>
          </md-select>
        </div>

	<span flex></span>

	<div style="width:85px;">
          <md-select data-ng-model="ano" placeholder="Ano" style="width:100%!important;font-size:17px;">
            <md-optgroup label="Ano:">
              <md-option ng-value="years" data-ng-selected="true" data-ng-repeat="years in year" data-ng-click="recarregar()">{{years}}</md-option>
            </md-optgroup>
          </md-select>
        </div>

        <span flex></span>
      </div>     
    </md-toolbar>      

    </md-toolbar>

    <md-content>
      <div layout="column" layout-align="center center" style="background:rgba(128,128,128,0.07);padding:30px;">
        <h3 style="text-align:center;border-top:1px solid grey;margin:30px 0 -5px 0;font-size:15px;width:100%;">
          <span style="text-transform:uppercase;padding:5px 10px;position:relative;background:#f7f7f7;bottom:10px;letter-spacing:1px;">Atualizar</span>
        </h3>
            <div data-ng-cloak data-ng-controller="registroCtrl" style="width:100%">
    <md-tabs md-stretch-tabs="always" md-dynamic-height md-border-bottom class="update-inputs">
      <md-tab label="Projeto">
        <md-content class="md-padding" style="background:#fdfdfd;padding-top:25px;">
          <md-content flex layout="column" layout-align="center center" style="width:100%!important;background:#fdfdfd;">
            <form name="projetoForm1" novalidate style="width:100%;padding:8px;">
              <div layout="row">
                <div class="bloco-right" flex>
                  <md-input-container class="md-block" data-ng-init="editing1=false" flex-gt-sm>
                    <label>Nome do Projeto</label>
                    <input type="text" name="nomeProjeto" data-ng-model="projeto1.nomeProjeto" data-ng-class="{'input-disabled': !editing1}" data-ng-focus="editing1=true" data-ng-blur="editing1=false" required/>
                    <div class="md-errors-spacer">
                      <div data-ng-if="projetoForm1.nomeProjeto.$dirty">
                        <div class="message-error" data-ng-if="projetoForm1.nomeProjeto.$error.required">Preencha esse campo.</div>
                      </div>
                    </div>
                  </md-input-container>
                  <div class="md-block palavras-chave" data-ng-init="editingAF=false" style="margin-bottom:27px!important;padding-left:2px!important;">
                    <label style="color:#43a047;padding-left:3px;font-size:12px;vertical-align:top;">Palavras-chave</label>
                    <md-chips
                    data-ng-required="true"
                    ng-class="{'input-disabled3': !editingAF}"
                    md-focus="editingAF=true"
                    md-blur="editingAF=false"
                    name="palavraChave"
                    data-ng-model="palavraChave"
                    md-separator-keys="keys"
                    md-max-chips="6"
                    placeholder="Palavras-chave (máximo 5)"
                    secondary-placeholder=""></md-chips>
                    <div class="md-errors-spacer" style="padding-top:3px!important;">
                      <div class="message-error" style="padding-bottom:4px!important;color:rgba(0,0,0,0.87)!important;" data-ng-if="palavraChave.length !== 0 && palavraChave.length <= 5 || (projetoForm1.palavraChave.$untouched && !projetoForm1.palavraChave.$dirty)">Utilize ENTER após cada palavra chave.</div>
                    </div>
                    <div class="md-errors-spacer" style="padding-top:3px!important;">
                      <div data-ng-if="projetoForm1.palavraChave.$dirty">
                        <div class="message-error" style="padding-bottom:4px!important;float:right!important;" data-ng-show="palavraChave.length === 0">Obrigatório.</div>
                        <div class="message-error" style="padding-bottom:4px!important;float:right!important;" data-ng-show="palavraChave.length > 5">Excedeu o número de palavras chave.</div>
                      </div>
                    </div>
                  </div>
                  <div layout="row">
                    <md-input-container class="md-block" data-ng-init="editing2=false" style="width:100%!important;" flex-xs="100" flex="80">
                      <label>Categoria...</label>
                      <md-select name="categoria" data-ng-model="projeto1.categoria" data-ng-class="{'input-disabled': !editing2}" data-ng-focus="editing2=true" data-ng-blur="editing2=false" style="width:97%!important;" required>
                        <md-optgroup label="Categorias">
                          <md-option data-ng-value="x.categoria" data-ng-repeat="x in listaCategorias" data-ng-click="selectEixos(x.categoria)" data-ng-init="selectEixos(projeto1.categoria)">{{x.categoria}}</md-option>
                        </md-optgroup>
                      </md-select>
                      <div class="md-errors-spacer"></div>
                </md-input-container>
                <div flex layout="column" layout-align="center center" hide-xs>
                  <md-button md-no-ink data-ng-href="/categorias-eixos" target="_blank" class="saiba-mais">Saiba mais</md-button>
                </div>
              </div>
              <div layout="row">
                <md-input-container class="md-block" data-ng-init="editing3=false" style="width:100%!important;" flex-xs="100" flex="80">
                  <label>Eixo Temático...</label>
                  <md-select name="eixo" data-ng-model="projeto1.eixo" data-ng-class="{'input-disabled': !editing3}" data-ng-focus="editing3=true" data-ng-blur="editing3=false" style="width:97%!important;" required>
                    <md-optgroup label="Eixos Temáticos" data-ng-if="projeto1.categoria !== undefined">
                      <md-option data-ng-value="y" data-ng-repeat="y in eixos">{{y}}</md-option>
                    </md-optgroup>
                    <md-option value="" disabled data-ng-if="projeto1.categoria === undefined">Selecione uma Categoria</md-option>
                  </md-select>
                  <div class="md-errors-spacer"></div>                 
            </md-input-container>
            <div flex layout="column" layout-align="center center" hide-xs>
              <md-button md-no-ink data-ng-href="/categorias-eixos" target="_blank" class="saiba-mais">Saiba mais</md-button>
            </div>
          </div>            
                    
          <div layout="row" style="margin-bottom:35px;margin-top:25px;">
              <span style="margin-right:30px;color:#616161;">Marcar Participação:</span>
              <md-radio-group data-ng-model="projeto1.participa" layout="row" required>
                <md-radio-button ng-value="true">Sim</md-radio-button>
                <md-radio-button ng-value="false">Não</md-radio-button>
              </md-radio-group>
              <div class="md-errors-spacer"></div>
          </div>
                    
                    
          <div layout-gt-sm="row">
            <md-input-container class="md-block" data-ng-init="editing4=false" flex="100">
              <label>Resumo do Projeto</label>
              <textarea style="height:200px!important;" name="resumo" data-ng-model="projeto1.resumo" data-ng-class="{'input-disabled': !editing4}" data-ng-focus="editing4=true" data-ng-blur="editing4=false" minlength="500" md-maxlength="2000" rows="1" md-select-on-focus required></textarea>
              <div class="md-errors-spacer">
               	<div class="message-error" style="color:rgba(0,0,0,0.87)!important;" data-ng-show="!projetoForm1.resumo.$invalid || (projetoForm1.resumo.$untouched && !projetoForm1.resumo.$dirty)">Mínimo 500 caracteres, máximo 2000 caracteres |</div>
								<div data-ng-if="projetoForm1.resumo.$dirty">
									<div class="message-error" data-ng-show="projetoForm1.resumo.$error.required">Obrigatório |</div>
									<div class="message-error" data-ng-show="projetoForm1.resumo.$invalid && !projetoForm1.resumo.$error.required">Mínimo 500 caracteres, máximo 2000 caracteres |</div>
                </div>
              </div>
            </md-input-container>
          </div>
        </div>
      </div>
      <div class="finalizar" layout="row" layout-align="center center" style="margin:40px 0;">
        <md-button class="md-raised md-primary teal lighten-1" data-ng-disabled="!projetoForm1.$valid || palavraChave.length === 0" data-ng-click="update(projeto1)">
          <md-icon md-svg-icon="check" class="icon-btn-default"></md-icon>
          Salvar
        </md-button>
      </div>
    </form>
  </md-content>
</md-content>
</md-tab>
    
<md-tab label="Conta Usuário">
        <md-content class="md-padding" style="background:#fdfdfd;padding-top:25px;">
          <md-content flex layout="column" layout-align="center center" style="width:100%!important;background:#fdfdfd;">
            <form name="projetoForm1_2" novalidate style="width:100%;padding:8px;">
                <div layout="row">
					<div class="bloco-right" flex-xs="100" flex="75">
						<md-input-container class="md-block" flex-gt-sm>
							<label>E-mail principal</label>
							<md-select name="email" data-ng-model="projeto1_2.email" required>
								<md-option ng-value="email" data-ng-repeat="email in EMAILS" data-ng-if="EMAILS.length > 0">{{email}}</md-option>
								<md-option value="" disabled data-ng-if="EMAILS.length == 0">Nenhum email inserido</md-option>
							</md-select>
							<div class="md-errors-spacer">
								<div data-ng-if="projetoForm1_2.email.$touched">
									<div class="message-error" data-ng-if="projetoForm1_2.email.$error.required">Obrigatório.</div>
								</div>
							</div>
						</md-input-container>
						<md-input-container class="md-block" flex-gt-sm>
							<label>Nome do usuário</label>
							<!--<input type="text" name="username" data-ng-model="projeto1_2.username" data-ng-change="verificaUsername(projeto1_2.username)" required/>-->
                            <input type="text" name="username" data-ng-model="projeto1_2.username" required/>
							<div class="md-errors-spacer">
								<div data-ng-if="projetoForm1_2.username.$dirty">
									<div class="message-error" data-ng-if="projetoForm1_2.username.$error.required">Obrigatório.</div>
								</div>
								<div class="message-error" data-ng-if="projetoForm1_2.username.$error.duplicado">Username já está sendo utilizado.</div>
							</div>
						</md-input-container>
					</div>
				</div>
                <div class="finalizar" layout="row" layout-align="center center" style="margin:40px 0;">
                    <md-button class="md-raised md-primary teal lighten-1" data-ng-disabled="!projetoForm1_2.$valid" data-ng-click="update(projeto1_2)">
                        <md-icon md-svg-icon="check" class="icon-btn-default"></md-icon>
                        Salvar
                    </md-button>
                </div>                
            </form>
          </md-content>
        </md-content>
</md-tab>
        
<md-tab label="Instituição">
  <md-content class="md-padding" style="background:#fdfdfd;padding-top:25px;">
    <md-content flex layout="column" layout-align="center center" style="width:100%!important;background:#fdfdfd;">
      <form name="projetoForm2" novalidate style="width:100%;padding:8px;">
        <div layout="row">
          <div class="bloco-right" flex>
            <div layout-gt-sm="row" data-ng-init="editing5=false">
              <md-autocomplete flex="100"
              data-ng-class="{'input-disabled2': !editing5}"
              md-focus="editing5=true"
              md-blur="editing5=false"
              data-ng-required="true"
              md-no-cache="true"
              md-selected-item="selectedItem"
              md-search-text="projeto2.nomeEscola"
              md-items="item in escolas"
              md-item-text="item"
              md-min-length="1"
              md-floating-label="Nome da instituição"
              md-input-name="nomeEscola">
              <md-item-template>
                <span md-highlight-text="projeto2.nomeEscola" md-highlight-flags="^i">{{item}}</span>
              </md-item-template>
                  <div class="md-errors-spacer">
                    <div data-ng-if="projetoForm2.nomeEscola.$dirty">
                      <div class="message-error" data-ng-if="projetoForm2.nomeEscola.$error.required">Selecione uma opção.</div>
                    </div>
                  </div>
              </md-autocomplete>
          </div>
          <div layout-gt-sm="row">
            <md-input-container class="md-block" data-ng-init="editing6=false" flex-gt-sm="20">
              <label>Estado</label>
              <md-select name="estado" data-ng-model="projeto2.estado" data-ng-class="{'input-disabled': !editing6}" data-ng-focus="editing6=true" data-ng-blur="editing6=false" required>
                <md-option data-ng-value="z.nome" data-ng-repeat="z in listaEstados" data-ng-click="selectCidades(z.nome)" data-ng-init="selectCidades(projeto2.estado)">{{z.sigla}}</md-option>
              </md-select>
              <div class="md-errors-spacer"></div>
        </md-input-container>
        <div flex="5" hide-xs hide-sm></div>
        <md-input-container class="md-block" data-ng-init="editing7=false" flex-gt-sm>
          <label>Cidade</label>
          <md-select name="cidade" ng-model="projeto2.cidade" data-ng-class="{'input-disabled': !editing7}" data-ng-focus="editing7=true" data-ng-blur="editing7=false" required>
            <md-option value="" disabled data-ng-if="projeto2.estado === undefined">Selecione um Estado</md-option>
            <md-option ng-value="c" ng-repeat="c in cidades">{{c}}</md-option>
          </md-select>
          <div class="md-errors-spacer"></div>
    </md-input-container>
    <div flex="5" hide-xs hide-sm></div>
    <md-input-container class="md-block" data-ng-init="editing8=false" flex-gt-sm="20">
      <label>CEP</label>
      <input type="text" name="cep" data-ng-model="projeto2.cep" data-ng-class="{'input-disabled': !editing8}" data-ng-focus="editing8=true" data-ng-blur="editing8=false" required minlength="10" maxlength="10" cep-mask/>
      <div class="md-errors-spacer">
        <div data-ng-if="projetoForm2.cep.$dirty">
          <div class="message-error" data-ng-if="projetoForm2.cep.$error.required">Preencha esse campo.</div>
          <div class="message-error" data-ng-if="projetoForm2.cep.$error.minlength && projetoForm2.cep.$touched">CEP inválido.</div>
        </div>
      </div>
    </md-input-container>
  </div>
</div>
</div>
<div class="finalizar" layout="row" layout-align="center center" style="margin:40px 0;">
  <md-button class="md-raised md-primary teal lighten-1" data-ng-disabled="!projetoForm2.$valid" data-ng-click="update(projeto2)">
    <md-icon md-svg-icon="check" class="icon-btn-default"></md-icon>
    Salvar
  </md-button>
</div>
</form>
</md-content>
</md-content>
</md-tab>
<md-tab label="Orientador(es)">
  <md-content class="md-padding" style="background:#fdfdfd;padding-top:25px;">
    <md-content flex layout="column" layout-align="center center" style="width:100%!important;background:#fdfdfd;">
      <form name="projetoForm3" novalidate style="width:100%;padding:8px;">
        <div layout="row">
          <div class="bloco-right" flex>
            <div ng-repeat="item1 in dynamicFields11" ng-form="projetoForm3">
              <h5 class="h5-2">
                <md-icon md-svg-icon="account-box-outline" class="icon-integrantes"></md-icon> Orientador {{$index+1}}:
                <md-button data-ng-if="!$first" class="md-fab md-mini md-warn" aria-label="Remover orientador" data-ng-click="removeOrientadorUpdate($index,item1.id)">
                  <md-tooltip md-direction="right">Remover orientador</md-tooltip>
                  <md-icon md-svg-src="close" style="color:#fdfdfd!important;width:19px;height:19px;"></md-icon>
                </md-button>
              </h5>
              <div layout-gt-sm="row">
                <md-input-container class="md-block" data-ng-init="editing9=false" flex-gt-sm>
                  <label>Nome completo</label>
                  <input type="text" name="{{item1.nome}}" data-ng-model="projeto3[item1.nome]" data-ng-class="{'input-disabled': !editing9}" data-ng-focus="editing9=true" data-ng-blur="editing9=false" required minlength="2" />
                  <div class="md-errors-spacer">
                    <div data-ng-show="projetoForm3.{{item1.nome}}.$dirty">
                      <div class="message-error" data-ng-show="projetoForm3.{{item1.nome}}.$error.required">Preencha esse campo.</div>
                    </div>
                  </div>
                </md-input-container>
                <div flex="5" hide-xs hide-sm></div>
                <md-input-container class="md-block" data-ng-init="editing10=false" flex-gt-sm>
                  <label>E-mail</label>
                  <input type="email" name="{{item1.email}}" data-ng-model="projeto3[item1.email]" data-ng-class="{'input-disabled': !editing10}" data-ng-focus="editing10=true" data-ng-blur="editing10=false" required data-ng-pattern="/^.+@.+\..+$/" />
                  <div class="md-errors-spacer">
                    <div data-ng-show="projetoForm3.{{item1.email}}.$dirty">
                      <div class="message-error" data-ng-show="projetoForm3.{{item1.email}}.$error.required">Preencha esse campo.</div>
                      <div class="message-error" data-ng-show="projetoForm3.{{item1.email}}.$error.pattern && projetoForm3.{{item1.email}}.$touched">Email inválido.</div>
                    </div>
                  </div>
                </md-input-container>
              </div>
              <div layout-gt-sm="row">
                <md-input-container class="md-block" data-ng-init="editing11=false" flex-gt-sm>
                  <label>CPF</label>
                  <input type="text" name="{{item1.cpf}}" data-ng-model="projeto3[item1.cpf]" data-ng-class="{'input-disabled': !editing11}" data-ng-focus="editing11=true" data-ng-blur="editing11=false" required minlength="14" maxlength="14" cpf-mask/>
                  <div class="md-errors-spacer">
                    <div data-ng-show="projetoForm3.{{item1.cpf}}.$dirty">
                      <div class="message-error" data-ng-show="projetoForm3.{{item1.cpf}}.$error.required">Preencha esse campo.</div>
                      <div class="message-error" data-ng-show="projetoForm3.{{item1.cpf}}.$error.minlength && projetoForm3.{{item1.cpf}}.$touched">CPF inválido.</div>
                    </div>
                  </div>
                </md-input-container>
                <div flex="5" hide-xs hide-sm></div>
                <md-input-container class="md-block" data-ng-init="editing12=false" flex-gt-sm>
                  <label>Telefone</label>
                  <input type="text" name="{{item1.telefone}}" data-ng-model="projeto3[item1.telefone]" data-ng-class="{'input-disabled': !editing12}" data-ng-focus="editing12=true" data-ng-blur="editing12=false" required minlength="14" maxlength="15" fone-mask/>
                  <div class="md-errors-spacer">
                    <div data-ng-show="projetoForm3.{{item1.telefone}}.$dirty">
                      <div class="message-error" data-ng-show="projetoForm3.{{item1.telefone}}.$error.required">Preencha esse campo.</div>
                      <div class="message-error" data-ng-show="projetoForm3.{{item1.telefone}}.$error.minlength && projetoForm3.{{item1.telefone}}.$touched">Telefone inválido.</div>
                    </div>
                  </div>
                </md-input-container>
                <div flex="5" hide-xs hide-sm></div>
                <md-input-container class="md-block" data-ng-init="editing13=false" flex-gt-sm>
                  <label>Camiseta</label>
                  <md-select name="{{item1.camiseta}}" data-ng-model="projeto3[item1.camiseta]" data-ng-class="{'input-disabled': !editing13}" data-ng-focus="editing13=true" data-ng-blur="editing13=false" required>
                    <md-option value="P">P - Pequena</md-option>
                    <md-option value="M">M - Média</md-option>
                    <md-option value="G">G - Grande</md-option>
                  </md-select>
                  <div class="md-errors-spacer"></div>
            </md-input-container>
          </div>
        </div>
        <div layout="column" layout-align="center center" data-ng-if="btnAdd11">
          <md-button class="md-fab md-mini" style="background:#66bb6a;" aria-label="Adicionar orientador" data-ng-click="addOrientadorUpdate()">
            <md-tooltip md-direction="left">Adicionar orientador</md-tooltip>
            <md-icon md-svg-src="plus" style="color:#fdfdfd!important;"></md-icon>
          </md-button>
        </div>
      </div>
    </div>
    <div class="finalizar" layout="row" layout-align="center center" style="margin:40px 0;">
      <md-button class="md-raised md-primary teal lighten-1" data-ng-disabled="!projetoForm3.$valid" data-ng-click="updateOrientadores()">
        <md-icon md-svg-icon="check" ng-style="{width:'20px', height:'20px', color:'rgba(255,255,255,0.87)'}"></md-icon>
        Salvar
      </md-button>
    </div>
  </form>
</md-content>
</md-content>
</md-tab>
<md-tab label="Aluno(s)">
  <md-content class="md-padding" style="background:#fdfdfd;padding-top:25px;">
    <md-content flex layout="column" layout-align="center center" style="width:100%!important;background:#fdfdfd;">
      <form name="projetoForm4" novalidate style="width:85%;padding:8px;">
        <div layout="row">
          <div class="bloco-right" flex>
            <div ng-repeat="item2 in dynamicFields22" ng-form="projetoForm4">
              <h5 class="h5-2">
                <md-icon md-svg-icon="account-multiple" class="icon-integrantes"></md-icon> Aluno {{$index+1}}:
                <md-button data-ng-if="!$first" class="md-fab md-mini md-warn" aria-label="Remover aluno" data-ng-click="removeAlunoUpdate($index,item2.id)">
                  <md-tooltip md-direction="right">Remover aluno</md-tooltip>
                  <md-icon md-svg-src="close" style="color:#fdfdfd!important;width:19px;height:19px;"></md-icon>
                </md-button>
              </h5>
              <div layout-gt-sm="row">
                <md-input-container class="md-block" data-ng-init="editing14=false" flex-gt-sm>
                  <label>Nome completo</label>
                  <input type="text" name="{{item2.nome}}" data-ng-model="projeto4[item2.nome]" data-ng-class="{'input-disabled': !editing14}" data-ng-focus="editing14=true" data-ng-blur="editing14=false" required minlength="2" />
                  <div class="md-errors-spacer">
                    <div data-ng-show="projetoForm4.{{item2.nome}}.$dirty">
                      <div class="message-error" data-ng-show="projetoForm4.{{item2.nome}}.$error.required">Preencha esse campo.</div>
                    </div>
                  </div>
                </md-input-container>
                <div flex="5" hide-xs hide-sm></div>
                <md-input-container class="md-block" data-ng-init="editing15=false" flex-gt-sm>
                  <label>E-mail</label>
                  <input type="email" name="{{item2.email}}" data-ng-model="projeto4[item2.email]" data-ng-class="{'input-disabled': !editing15}" data-ng-focus="editing15=true" data-ng-blur="editing15=false" required data-ng-pattern="/^.+@.+\..+$/" />
                  <div class="md-errors-spacer">
                    <div data-ng-show="projetoForm4.{{item2.email}}.$dirty">
                      <div class="message-error" data-ng-show="projetoForm4.{{item2.email}}.$error.required">Preencha esse campo.</div>
                      <div class="message-error" data-ng-show="projetoForm4.{{item2.email}}.$error.pattern && projetoForm4.{{item2.email}}.$touched">Email inválido.</div>
                    </div>
                  </div>
                </md-input-container>
              </div>
              <div layout-gt-sm="row">
                <md-input-container class="md-block" data-ng-init="editing16=false" flex-gt-sm>
                  <label>CPF</label>
                  <input type="text" name="{{item2.cpf}}" data-ng-model="projeto4[item2.cpf]" data-ng-class="{'input-disabled': !editing16}" data-ng-focus="editing16=true" data-ng-blur="editing16=false" required minlength="14" maxlength="14" cpf-mask/>
                  <div class="md-errors-spacer">
                    <div data-ng-show="projetoForm4.{{item2.cpf}}.$dirty">
                      <div class="message-error" data-ng-show="projetoForm4.{{item2.cpf}}.$error.required">Preencha esse campo.</div>
                      <div class="message-error" data-ng-show="projetoForm4.{{item2.cpf}}.$error.minlength && projetoForm4.{{item2.cpf}}.$touched">CPF inválido.</div>
                    </div>
                  </div>
                </md-input-container>
                <div flex="5" hide-xs hide-sm></div>
                <md-input-container class="md-block" data-ng-init="editing17=false" flex-gt-sm>
                  <label>Telefone</label>
                  <input type="text" name="{{item2.telefone}}" data-ng-model="projeto4[item2.telefone]" data-ng-class="{'input-disabled': !editing17}" data-ng-focus="editing17=true" data-ng-blur="editing17=false" required minlength="14" maxlength="15" fone-mask/>
                  <div class="md-errors-spacer">
                    <div data-ng-show="projetoForm4.{{item2.telefone}}.$dirty">
                      <div class="message-error" data-ng-show="projetoForm4.{{item2.telefone}}.$error.required">Preencha esse campo.</div>
                      <div class="message-error" data-ng-show="projetoForm4.{{item2.telefone}}.$error.minlength && projetoForm4.{{item2.telefone}}.$touched">Telefone inválido.</div>
                    </div>
                  </div>
                </md-input-container>
                <div flex="5" hide-xs hide-sm></div>
                <md-input-container class="md-block" data-ng-init="editing18=false" flex-gt-sm>
                  <label>Camiseta</label>
                  <md-select name="{{item2.camiseta}}" data-ng-model="projeto4[item2.camiseta]" data-ng-class="{'input-disabled': !editing18}" data-ng-focus="editing18=true" data-ng-blur="editing18=false" required>
                    <md-option value="P">P - Pequena</md-option>
                    <md-option value="M">M - Média</md-option>
                    <md-option value="G">G - Grande</md-option>
                  </md-select>
                  <div class="md-errors-spacer"></div>                 
            </md-input-container>
          </div>
        </div>
        <div layout="column" layout-align="center center" data-ng-if="btnAdd22">
          <md-button class="md-fab md-mini" style="background:#66bb6a;" aria-label="Adicionar aluno" data-ng-click="addAlunoUpdate()">
            <md-tooltip md-direction="left">Adicionar aluno</md-tooltip>
            <md-icon md-svg-src="plus" style="color:#fdfdfd!important;"></md-icon>
          </md-button>
        </div>
      </div>
    </div>
    <div class="finalizar" layout="row" layout-align="center center" style="margin:40px 0;">
      <md-button class="md-raised md-primary teal lighten-1" data-ng-disabled="!projetoForm4.$valid" data-ng-click="updateAlunos()">
        <md-icon md-svg-icon="check" ng-style="{width:'20px', height:'20px', color:'rgba(255,255,255,0.87)'}"></md-icon>
        Salvar
      </md-button>
    </div>
  </form>
</md-content>
</md-content>
</md-tab>
<md-tab label="Hospedagem" data-ng-click="carregaIntegrantes(projeto)">
  <md-content class="md-padding" style="background:#fdfdfd;padding-top:25px;">
    <md-content flex layout="column" layout-align="center center" style="width:100%!important;background:#fdfdfd;">
      <form name="projetoForm5" novalidate style="width:85%;padding:8px;">
        <div layout="row">
          <div class="bloco-right" flex>
            <div layout="row" style="margin-bottom:35px;margin-top:25px;">
              <span style="margin-right:30px;color:#616161;">Algum integrante necessita de hospedagem?</span>
              <md-radio-group layout="row" data-ng-model="hospedagemVerify" name="hospedagemVerify" ng-required="true">
                <md-radio-button value="Sim">Sim</md-radio-button>
                <md-radio-button value="Não" data-ng-click="limpaHospedagem()">Não</md-radio-button>
              </md-radio-group>
              <div class="md-errors-spacer"></div>
            </div>
            <md-input-container class="md-block" data-ng-if="hospedagemVerify == 'Sim'" data-ng-init="editing19=false" flex-gt-sm>
              <label>Quais?</label>
              <md-select name="hospedagem" data-ng-model="projeto5.hospedagem" multiple data-ng-class="{'input-disabled': !editing19}" data-ng-focus="editing19=true;montarIntegrantes1(projeto4)" data-ng-blur="editing19=false" required>
              <md-optgroup label="Aluno(s)" data-ng-if="projeto4.nomeAluno1 !== undefined">
                <md-option ng-value="dae.nome" ng-repeat="dae in alunos">{{dae.nome}}</md-option>
              </md-optgroup>
              <md-optgroup label="Nenhum integrante na lista :(" data-ng-if="projeto4.nomeAluno1 === undefined" disabled></md-optgroup>
            </md-select>
            <div class="md-errors-spacer">
              <div data-ng-if="projetoForm5.hospedagem.$touched">
                <div class="message-error" data-ng-if="projetoForm5.hospedagem.$error.required">Selecione uma opção</div>
              </div>
            </div>
          </md-input-container>
        </div>
      </div>
      <div class="finalizar" layout="row" layout-align="center center" style="margin:40px 0;">
        <md-button class="md-raised md-primary teal lighten-1" data-ng-disabled="!projetoForm5.$valid" data-ng-click="update(projeto5)">
          <md-icon md-svg-icon="check" class="icon-btn-default"></md-icon>
          Salvar
        </md-button>
      </div>
    </form>
  </md-content>
</md-content>
</md-tab>
</md-tabs>
<!--</md-content>-->

</div>
<!----></div>

     <span us-spinner>
        <div layout="row" layout-sm="column" layout-align="space-around">
          <md-progress-circular md-mode="indeterminate" md-diameter="40"></md-progress-circular>
        </div>
      </span>

  <div style="background:rgba(128,128,128,0.07);padding:30px 30px 15px 30px;">
    <h3 style="text-align:center;border-top:1px solid grey;margin:0 0 -5px 0;font-size:15px;width:100%;">
      <span style="text-transform:uppercase;padding:5px 10px;position:relative;background:#f7f7f7;bottom:10px;letter-spacing:1px;">Projetos</span>
    </h3>
  </div>

<md-content>
  <div layout="row" style="justify-content:center;padding:40px 0 20px 0;background:rgba(128,128,128,0.07);">
    <div layout style="align-items:center;"><div style="width:15px;height:15px;background:#3f51b5;border-radius:50%;margin-right:8px;"></div>Fundamental I</div>
    <div layout style="align-items:center;"><div style="width:15px;height:15px;background:#9c27b0;border-radius:50%;margin-right:8px;margin-left:15px;"></div>Fundamental II</div>
    <div layout style="align-items:center;"><div style="width:15px;height:15px;background:#4caf50;border-radius:50%;margin-right:8px;margin-left:15px;"></div>Ensino Médio, Técnico e Superior</div>
  </div>
  <div layout="row" style="justify-content:center;padding-bottom:30px;background:rgba(128,128,128,0.07);">
    <div layout style="align-items:center;margin-right:8px;font-weight:bold;">Aprovados:</div>
    <div layout style="align-items:center;"><div class="green1" style="width:15px;height:15px;border-radius:50%;margin-right:8px;"></div>Confirmado!</div>
    <div layout style="align-items:center;"><div class="red" style="width:15px;height:15px;border-radius:50%;margin-right:8px;margin-left:15px;"></div>Cancelado</div>
    <div layout style="align-items:center;"><div class="grey" style="width:15px;height:15px;border-radius:50%;margin-right:8px;margin-left:15px;"></div>Pendente</div>
  </div>
  <div layout="row" style="justify-content:center;padding-bottom:30px;background:rgba(128,128,128,0.07);">
    TOTAL: {{projetos.length}}
  </div>
  <md-list flex style="margin-bottom:50px;" data-ng-init="ordenacao = ['aprovado','eixo']">
    <md-list-item class="list-header">
      <div flex="5"></div>
      <div class="md-list-item-text" flex="10" style="margin-right:5px;text-align:center;">
        <p>Nº</p>
      </div>
      <div class="md-list-item-text" flex="80" layout="column" style="text-align:center;">
        <p>Projetos</p>
      </div>
      <md-divider></md-divider>
    </md-list-item>
    <md-divider></md-divider>
    <div data-ng-if="projetos.length === 0" flex style="text-align:center;padding-top:20px;color:rgba(0,0,0,0.4);">
      <p>Nenhum projeto cadastrado :(</p>
    </div>
    <md-list-item class="md-3-line" data-ng-repeat="proj in projetos | filter:search | orderBy:ordenacao track by proj.numInscricao"
    ng-click="preencherCampos(proj)">
    <div layout flex="5" layout-align="center center" style="align-self:center;">
      <div style="width:15px;height:15px;border-radius:50%;"
      data-ng-class="{azul:proj.categoria == 'Fundamental I (1º ao 5º anos)',
      roxo:proj.categoria == 'Fundamental II (6º ao 9º anos)',
      green1:proj.categoria == 'Ensino Médio, Técnico e Superior'}">
      </div>
    </div>

    <div class="md-list-item-text" flex="10" style="margin-right:5px;text-align:center;">
      <h3>{{::proj.numInscricao}}</h3>
    </div>
    <div class="md-list-item-text" layout="column">
      <h3>{{::proj.nomeProjeto}}</h3>
      <p data-ng-if="ordenacao == 'nomeEscola'">{{::proj.nomeEscola}}</p>
      <p data-ng-if="ordenacao != 'nomeEscola'">{{::proj.eixo}}</p>
    </div>
    <div flex="15" layout="row" layout-align="end center">
      <div data-ng-if="proj.aprovado === true" layout="row" layout-align="center center" class="md-whiteframe-1dp" data-ng-class="{grey:proj.aprovado === true && proj.participa === undefined,green1:proj.participa === true,red:proj.participa === false}" style="width:58px;height:20px;border-radius:4px;font-size:10px;color:#f5f5f5;">
        <span style="font-weight:500;">Aprovado</span>
      </div>
    </div>
    <div flex="15" style="display:flex;align-self:center;justify-content:center;">
  	  <md-button no-ink class="md-raised red md-whiteframe-1dp" style="border-radius:70px;min-height:30px;line-height:30px;box-shadow:none!important;" aria-label="Remover projeto" ng-click="removeProjeto($event,proj._id,proj.nomeProjeto)">
          	  <md-icon md-svg-icon="close" ng-style="{width:'18px', height:'18px', color:'rgba(255,255,255,0.87)', 'margin-bottom':'3px'}"></md-icon>
        	  <span style="vertical-align:middle;font-size:13px;color:rgba(255,255,255,0.87);">Remover</span>
 	  </md-button>
    </div>
    <md-divider></md-divider>
  </md-list-item>
</md-list>
</md-content>

<md-divider></md-divider>
<!--</md-list-item>
</md-list>
</section>
</div>-->
