<md-dialog data-ng-controller="loginCtrl" class="login-content" data-ng-cloak>

  <div class="md-padding" layout="column" layout-align="center center" style="padding-bottom:35px!important;">
    <h1>Visualizar</h1>
    <!-- <md-content style="padding:30px;"> -->
    <div layout="row" style="width:100%;">
      <md-button aria-label="Login" style="width:100%;" class="md-raised md-primary btn-options" data-ng-click="ir('admin/projetos')">
        <span>Projetos</span>
      </md-button>
    </div>
    <div layout="row" style="width:100%;">
      <md-button aria-label="Login" style="width:100%;" class="md-raised md-primary btn-options" data-ng-click="ir('admin/saberes')">
        <span>Saberes Docentes</span>
      </md-button>
    </div>
    <div layout="row" style="width:100%;">
      <md-button aria-label="Login" style="width:100%;" class="md-raised md-primary btn-options" data-ng-click="ir('admin/projetos')">
        <span>Avaliadores</span>
      </md-button>
    </div>
    <!-- </md-content> -->
  </div>
</md-dialog>
