<span us-spinner>
  <div layout="row" layout-sm="column" layout-align="space-around">
    <md-progress-circular md-mode="indeterminate" md-diameter="40"></md-progress-circular>
  </div>
</span>
<div layout="row" layout-fill data-ng-cloak class="admin-page alert-theme" id="popupContainer">
  <!-- conteúdo da página -->
  <section layout="column" role="main" flex>
    <md-toolbar role="toolbar" class="toolbar-admin md-whiteframe-2dp">
      <div class="md-toolbar-tools">
        <!-- <md-button class="md-icon-button" ng-click="toggleSidenav('left')" hide-gt-sm aria-label="Menu">
        <md-icon md-svg-src="menu" style="color:#424242;vertical-align:baseline;"></md-icon>
      </md-button> -->
      <!-- <h4 class="md-title" style="color:#424242;margin:0!important;">Admin</h4> -->
      <img src="admin/assets/images/logo3-b.png" width="120px" id="logo" style="margin-right:16px;"></img>
      <a href="www.movaci.com.br"></a>
      <span flex></span>
      <div style="background:rgba(255,255,255,0.1);padding:9px;border-radius:5px 0 0 5px;">
        <md-icon md-svg-src="magnify" style="color:#356937;width:30px;height:30px;"></md-icon>
      </div>
      <div class="search-field" flex="40">
        <input placeholder="Buscar" style="width:100%!important;" ng-model="search[query]" ng-model-options="{ debounce: 600 }"></input>
      </div>
      <div style="background:rgba(255,255,255,0.1);padding:2px 0 1px 0;border-radius:0 5px 5px 0;">
        <md-menu>
          <md-button md-no-ink aria-label="Open demo menu" layout="row" class="hide-hover" style="height:45px;min-width:0!important;" ng-click="$mdOpenMenu($event)">
            <md-icon md-svg-src="menu-down" style="color:#356937;width:30px;height:30px;"></md-icon>
          </md-button>
          <md-menu-content width="3">
            <md-subheader class="md-no-sticky">CRITÉRIO DE BUSCA</md-subheader>
            <md-menu-item>
              <md-button data-ng-click="setBusca('numInscricao')" class="grey-text darken-3">Nº de Inscrição</md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button data-ng-click="setBusca('nomeProjeto')" class="grey-text darken-3">Nome do projeto</md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button data-ng-click="setBusca('categoria')" class="grey-text darken-3">Categoria</md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button data-ng-click="setBusca('eixo')" class="grey-text darken-3">Eixo</md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </div>
      <span flex="5"></span>
      <div style="width:170px;" class="ordenar">
        <md-select data-ng-model="ordenar" placeholder="Ordenar" style="width:100%!important;font-size:17px;">
          <md-optgroup label="Ordenar por:">
            <md-option value="1" data-ng-focus="ordenarPor('numInscricao')">Nº de Inscrição</md-option>
            <md-option value="2" data-ng-focus="ordenarPor('nomeProjeto')">Nome do projeto</md-option>
            <md-option value="3" data-ng-focus="ordenarPor('nomeEscola')">Escola</md-option>
            <md-option value="4" data-ng-focus="ordenarPor(['categoria','eixo'])" data-ng-selected="true">Categoria/eixo</md-option>
          </md-optgroup>
        </md-select>
      </div>
      <span flex class="ordenar"></span>
      <md-menu>
        <md-button md-no-ink aria-label="Open demo menu" layout="row" class="hide-hover" style="height:45px;" ng-click="$mdOpenMenu($event)">
          <md-icon md-svg-src="dots-vertical" style="color:#225024;width:28px;height:28px;"></md-icon>
        </md-button>
        <md-menu-content width="3">
          <md-menu-item>
            <md-button data-ng-href="/ranking/2016" target="_blank" class="grey-text darken-3">
              <md-icon md-svg-src="trophy" class="grey-text darken-3"></md-icon>
              Ranking
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button data-ng-click="logout()" class="grey-text darken-3">
              <md-icon md-svg-src="exit-to-app" class="grey-text darken-3"></md-icon>
              Sair
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </div>
  </md-toolbar>

  <md-content>
    <div layout="row" class="legenda">
      <div layout style="align-items:center;padding:3px;"><div style="width:15px;height:15px;background:#3f51b5;border-radius:50%;margin-right:8px;"></div>Fundamental I</div>
      <div layout style="align-items:center;padding:3px;"><div style="width:15px;height:15px;background:#9c27b0;border-radius:50%;margin-right:8px;margin-left:15px;" class="eai"></div>Fundamental II</div>
      <div layout style="align-items:center;padding:3px;"><div style="width:15px;height:15px;background:#4caf50;border-radius:50%;margin-right:8px;margin-left:15px;" class="eai"></div>Ensino Médio, Técnico e Superior</div>
      <div style="width:55%;margin-top:30px;display:none;" class="ordenar1">
        <md-select data-ng-model="ordenar" placeholder="Ordenar" style="width:100%!important;font-size:17px;">
          <md-optgroup label="Ordenar por:">
            <md-option value="1" data-ng-focus="ordenarPor('numInscricao')">Nº de Inscrição</md-option>
            <md-option value="2" data-ng-focus="ordenarPor('nomeProjeto')">Nome do projeto</md-option>
            <md-option value="3" data-ng-focus="ordenarPor('nomeEscola')">Escola</md-option>
            <md-option value="4" data-ng-focus="ordenarPor(['categoria','eixo'])" data-ng-selected="true">Categoria/eixo</md-option>
          </md-optgroup>
        </md-select>
      </div>
    </div>
    <!-- <div layout="row" style="justify-content:center;padding-bottom:20px;background:rgba(128,128,128,0.07);">
    TOTAL: {{projetos.length}}
  </div> -->
  <md-list flex style="margin-bottom:50px;">
    <md-list-item class="list-header">
      <div flex="5" class="bolinha"></div>
      <div class="md-list-item-text" flex="10" style="margin-right:5px;text-align:center;">
        <p>Nº</p>
      </div>
      <div class="md-list-item-text divProjeto" flex="60" layout="column" style="text-align:center;">
        <p>Projeto</p>
      </div>
      <div flex class="btn-plus"></div>
      <div class="md-list-item-text btn-plus" flex="5" layout="column" style="text-align:center;margin-right:14px;">
        <p>Avaliação</p>
      </div>
      <md-divider></md-divider>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item class="md-3-line"
    data-ng-repeat="proj in projetos | filter:search | orderBy:ordenacao track by proj.numInscricao"
    ng-click="visualizarDetalhes(proj,$event)">
    <div layout flex="5" layout-align="center center" style="align-self:center;" class="bolinha">
      <div style="width:15px;height:15px;border-radius:50%;"
      data-ng-class="{azul:proj.categoria == 'Fundamental I (1º ao 5º anos)',
      roxo:proj.categoria == 'Fundamental II (6º ao 9º anos)',
      green1:proj.categoria == 'Ensino Médio, Técnico e Superior'}">
    </div>
  </div>
  <div class="md-list-item-text" flex="10" style="margin-right:5px;text-align:center;">
    <h3>{{::proj.numInscricao}}</h3>
  </div>
  <div class="md-list-item-text" layout="column">
    <h3>{{::proj.nomeProjeto}}</h3>
    <p data-ng-if="ordenacao == 'nomeEscola'">{{::proj.nomeEscola}}</p>
    <p data-ng-if="ordenacao != 'nomeEscola'">{{::proj.eixo}}</p>
  </div>
  <div flex="5" layout="row" layout-align="end center" class="btn-plus" style="justify-content:center;margin-left:30px;">
  <md-icon data-ng-if="!proj.avaliado" class="md-secondary btn-plus" md-svg-src="plus" style="margin:0;"></md-icon>
  <md-icon data-ng-if="proj.avaliado" class="md-secondary" md-svg-src="checkbox-marked-circle-outline" style="color:green;margin:0;"></md-icon>
</div>
<md-divider></md-divider>
</md-list-item>
</md-list>
</md-content>

<!-- <div layout="row" class="footer-admin" style="position:fixed;width:100%;height:50px;background:#424242;bottom:0!important;color:#f5f5f5;" align="center">
<div flex="50">
<p>Selecionados: {{count}}</p>
</div>
<span flex></span>
<div flex="35">
<md-button flex="100" aria-label="Salvar Aprovados" class="md-raised md-primary white green darken-1 btnEntrar" data-ng-disabled="count == 0" data-ng-click="update()">
<span>Salvar Aprovado(s)</span>
</md-button>
</div>
<div flex="35">
<md-button flex="100" aria-label="Remover Aprovados" class="md-raised md-primary white green darken-1 btnEntrar" data-ng-disabled="count == 0" data-ng-click="remove()">
<span>Remover Aprovado(s)</span>
</md-button>
</div>
</div> -->

<!-- conteúdo dinâmico -->
<!-- <section id="content" role="content" layout="column" layout-padding style="overflow:auto!important;background:#fdfdfd;height:100%;">
<div ui-view style="background:#fdfdfd;"></div>
</section> -->
</section>
</div>
